<%= form_with model: @job_change_dog, local: true do |f|%>
<%= render 'layouts/error_messages', model: f.object %>
          <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
            <div class="field">
                <%= f.label :image, "犬の画像" %><br />
                <%= f.attachment_field :dogs_images, multiple: true %>
            </div>
            <%# <div id="image-list"></div> %>
              <tr>
                <th>
                  <%= f.label :name, "犬の名前" %>
                  <b>※</b>
                </th>
                <td>
                  <%= f.text_field :name %>
                  <br>
                </td>
              </tr>

              <tr>
                <th>
                  <%= f.label :breed_id, "犬の種類" %>
                  <b>※</b>
                </th>
                <td>
                  <%= f.collection_select :breed_id, Breed.all, :id, :name, {} %>
                  <br>
                </td>
              </tr>

              <tr>
                <th>
                  <%= f.label :far_color, "毛色" %>
                  <b>※</b>
                </th>
                <td>
                  <%= f.text_field :far_color %>
                  <br>
                </td>
              </tr>              


               <tr>
                <th>
                  性別
                  <b>※</b>
                </th>
                <td>
                  <div class="mt4">
                    男性<%= f.radio_button :gender_id, 1,{checked: true} %>
                    女性<%= f.radio_button :gender_id, 2 %>
                  </div>
                </td>
              </tr>

              <tr>
                <th>
                  <%= f.label :personality, "性格" %>
                  <b>※</b>
                </th>
                <td>
                  <%= f.text_field :personality %>
                  <br>
                </td>
              </tr>

              <tr>
                <th>
                  <%= f.label :surgery_id, "去勢・避妊手術" %>
                  <b>※</b>
                </th>
                <td>
                  <%= f.collection_select :surgery_id, Surgery.all, :id, :name, {} %>
                  <br>
                </td>
              </tr>

              <tr>
                <th>
                  <%= f.label :vaccine_id, "ワクチン接種" %>
                  <b>※</b>
                </th>
                <td>
                  <%= f.collection_select :vaccine_id, Vaccine.all, :id, :name, {} %>
                  <br>
                </td>
              </tr>

              <tr>
                <th>掲載日 <b>※</b></th>
                <td>
                  <div class="input-birth-wrap">
                    <%= raw sprintf(
                      f.date_select(
                        :publication,
                        class:'select-birth',
                        id:"birth-date",
                        use_month_numbers: true,
                        prompt:'--',
                        start_year: 1930,
                        end_year: (Time.now.year),
                        date_separator: '%s'),
                      "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
                  </div>
                </td>
              </tr>

              <tr>
                <th>
                  <%= f.label :word, "その他" %>
                  <b>※</b>
                </th>
                <td>
                  <%= f.text_field :word %>
                  <br>
                </td>
              </tr> 
            </tbody>
          </table>
          <div class="actions">
            <%= f.submit "保存", class: :form__btn  %>  
          </div>
           <%# <%= image_tag @job_change_dog.image, id: 'image' if @job_change_dog.image.present? %>
           <%# <% @job_change_dog.images.each do |image| %> 
            <%# <%= image_tag image, class: 'images' %> 
           <%# <% end %>
<% end %>
      