<div class="card">
  <%if job_change_dog.dogs.present?%>
  <% job_change_dog.dogs.first(1).each do |image| %> 
  
   <%= link_to attachment_image_tag(image, :image, size: '200x200'), job_change_dog_path(job_change_dog.id) %>
   <% end %>
  <%else%>
    <%= image_tag 'logo.png'%>
  
  <% end %> 
  <div class="card__body">
    <% if job_change_dog.gender_id == 1%>
      <%= link_to "#{job_change_dog.name}くん", job_change_dog_path(job_change_dog.id), class: :card__title%>
    <% else %>
      <%= link_to "#{job_change_dog.name}ちゃん", job_change_dog_path(job_change_dog.id), class: :card__title%>
    <% end %>
    <p class="card__summary">
      <%= job_change_dog.gender.name %>
    </p>
    <%# <%= link_to "by プロトタイプの投稿者名", root_path, class: :card__user %>
  </div>
</div>