<div class="card">
  <h3>掲載日　<%= job_change_dog.created_at.strftime("%Y年 %m月 %d日")%> </h3>
  <%# <%if job_change_dog.dogs.present?%>
<% job_change_dog.images.first(1).each do |image| %>  
    <div class='item-img-content'> 
      <%= link_to image_tag(image, class: "item-img"), job_change_dog_path(job_change_dog.id,class: "item-img") %>
    <% if job_change_dog.support.present? %>
      <div class='family-done'>
      <%= image_tag 'good_icon.png', class: 'card-logo'%>
        <span>支援しています</span>
      </div>
    <% end %> 
    </div>
  <% end %>

  <%# 修正候補 %>

  <%# <%else%> 
    <%# <%= image_tag 'logo.png'%>
  
  <%# <% end %>
  <div class="card__body">
    <ul>
      <li>
        <% if job_change_dog.gender_id == 1%>
          <%= link_to "#{job_change_dog.name}くん", job_change_dog_path(job_change_dog.id), class: :card__title%>
      </li>
      <li>
        <div class="card__summary pull-right male"><%# <div>要素に変更するかも %>
          <%= "#{job_change_dog.gender.name} 男子✨"%>
        </div>
        <div class="mt5"><%= "#{job_change_dog.age} 歳(#{job_change_dog.breed.name})"%></div>
      </li>
      <li>
        <% else %>
          <%= link_to "#{job_change_dog.name}ちゃん", job_change_dog_path(job_change_dog.id), class: :card__title%>
      </li>
      <li>
        <div class="card__summary pull-right female">
          <%= "#{job_change_dog.gender.name} 女子💗"%>
        </div>
          <div class="mt5"><%= "#{job_change_dog.age} 歳(#{job_change_dog.breed.name})"%></div>
        <% end %>
      </li>
    </ul>
    <table class="mt5 mb0">
      <tbody>
        <tr>
          <td class="txt_c label-pink-bg p3 border-bottom-3--white" style="width: 60px;">施設者</td>
          <td class="p15"><%= job_change_dog.foundation.facility_name%></td>
        </tr>
      </tbody>
    </table>
    <p><%= job_change_dog.word%></p>
    <div class="mt5 orange fs 14 bold">
      <%= "希望支援#{job_change_dog.price}円"%>
    </div>
  </div>
</div>