<main class="main">
  <div class="inner">
    <%# ログインしているときは以下を表示する %>
    <% if user_signed_in?%>
      <div class="greeting">
        <%= "こんにちは、"%>
          <%= link_to "#{current_user.nickname}", root_path, class: :greeting__link%>
      </div>
    <% elsif foundation_signed_in? %>
      <div class="greeting">
        <%= "こんにちは、"%>
          <%= link_to "#{current_foundation.facility_name}", root_path, class: :greeting__link%>
      </div>
    <% end %>
    <div class="test_dog">
      <%= image_tag 'job_change_dog_icon.png',class:'test_img'%>
      <p>登録一覧〜気になった子がいたら是非どうですか？</p> 
    </div>
    <%# // ログインしているときは上記を表示する %>
    <div class="card__wrapper">    
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
      <%= render partial: "job_change_dog", collection: @job_change_dogs%>
    </div>
  </div>
</main>
