<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <table>
       
        <p class="prototype__hedding">
          <%= @job_change_dog.name%>
        </p>
        <p class="prototype__user">
          <%=@job_change_dog.foundation.facility_name%>
        </p>

      <%# 犬の情報・支援情報についてのページ遷移ボタン%>  
        <%# 犬が支援されていない場合%>
        <% if @job_change_dog.support == nil%>
        <%# 施設者がログイン状態かつ、その施設者が登録した犬の情報だった場合（編集・削除）ボタンを表示させる %>
          <% if foundation_signed_in? && current_foundation.id == @job_change_dog.foundation_id%>
            <div class="prototype__manage">
              <%= link_to "編集する", edit_job_change_dog_path(@job_change_dog.id), class: :prototype__btn %>
              <%= link_to "削除する", job_change_dog_path(@job_change_dog.id), method: :delete, class: :prototype__btn %>
            </div>
        
          <% elsif user_signed_in?%>
            <div class="prototype__manage">
              <%= link_to "支援する", job_change_dog_supports_path(@job_change_dog.id), class: :prototype__btn %>
            </div>
          <% end %>
        <% end %>
      <%# 上記、犬の情報・支援情報についてのページ遷移ボタン%> 



        <%# <div class="prototype__image"> %>
        <div class="previews">
          <div class="slider">

            <%# 修正候補 %>
            <% @job_change_dog.images.first(4).each do |image| %> 
                <%= image_tag image%> 

            <% end %>
          </div>
        </div>
          <%# <% if item.purchase.present? %> 
        </div>
        <tbody>
         <tr>
          <th>
            <%= "年齢" %>
          </th>
          <td>
            <%= "#{@job_change_dog.age}歳" %>
          </td>
          </tr>

          <tr>
            <th>
              <%= "犬の種類" %>
            </th>
            <td>
              <%= @job_change_dog.breed.name %>
            </td>
          </tr>
          
          <tr>
            <th>
              <%= "毛色" %>
            </th>
            <td>
              <%= @job_change_dog.far_color %>
            </td>
          </tr>

          <tr>
            <th>
              <%= "性格" %>
            </th>
            <td>
              <%= @job_change_dog.personality %>
            </td>
          </tr>

          <tr>
            <th>
              <%= "去勢・避妊手術" %>
            </th>
            <td>
              <%= @job_change_dog.surgery.name %>
            </td>
          </tr>

          <tr>
            <th>
              <%= "ワクチン接種" %>
            </th>
            <td>
              <%= @job_change_dog.vaccine.name %>
            </td>
          </tr>

          <tr>
            <th>
              <%= "希望譲渡期限" %>
            </th>
            <td>
              <%= "#{@job_change_dog.publication}　まで" %>
            </td>
          </tr>

          <tr>
            <th>
              <%= "その他" %>
            </th>
            <td>
              <%= @job_change_dog.word %>
            </td>
          </tr>
      </tbody>
    </table>


      <div class="prototype__comments">
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
         <% if foundation_signed_in? && current_foundation.id == @job_change_dog.foundation_id  || user_signed_in?%>
          <%= form_with model: [@job_change_dog, @comment],local: true do |f|%>
            <div class="field">
              <%= f.label :text, "コメント" %><br /> 
              <%= f.text_field :text, id:"comment_text" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn ,'data-disable-with': false %>
            </div>
          <% end %>
        <% end %>
        <%# <% end %>
        <%# // ログインしているユーザーには上記を表示する %>
        <div class="comments_lists" id='messages'>
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
          <% @comments.each do |comment| %>
            <li class="comments_list">  
              <%= comment.text%>
            <%if comment.user_id.blank?%>
              <%= link_to "（ #{comment.foundation.facility_name}）", root_path, class: :comment_user %>
            <% else %>
              <%= link_to "（ #{comment.user.nickname}）", root_path, class: :comment_user %>
            <% end %>
            </li>
          <% end%>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
        </div>
      </div>
    </div>
  </div>
</main>
