<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Batwin_suchen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application'%>
    <%# CSS %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%# JS %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>		
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to image_tag("dog_icon.jpeg", class: :logo), root_path %>
          </div>
          <%# 施設ボタン %>
          <%# ログインしているときは以下を表示するようにしましょう %>
          <% if foundation_signed_in?%>
             <div class="nav__center">
              <%= link_to "ジョブ犬登録", new_job_change_dog_path, class: :nav__btn %> 
              <%= link_to "施設編集", edit_foundation_registration_path, class: :nav__btn %>
              <%= link_to "ログアウト", destroy_foundation_session_path, method: :delete, class: :nav__btn %>              
            </div>
          <% elsif !user_signed_in? %>
          <%# // ログインしているときは上記を表示するようにしましょう %>
          <%# ログインしていないときは以下を表示するようにしましょう %>
            
            <div class="nav__center">
              <%= link_to "ログイン", new_foundation_session_path, class: :nav__btn %>
              <%= link_to "施設登録", new_foundation_registration_path, class: :nav__btn %>
            </div>
          <% end %>
          <%# // ログインしていないときは上記を表示するようにしましょう %>


          <%# %>
          <%# ログインしているときは以下を表示するようにしましょう %>
          <% if user_signed_in? %>
             <div class="nav__right">
              <%= link_to "ユーザー編集",edit_user_registration_path, class: :nav__btn %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__btn %>              
            </div>
          <% elsif !foundation_signed_in?%>
          <%# // ログインしているときは上記を表示するようにしましょう %>
          <%# ログインしていないときは以下を表示するようにしましょう %>
            <div class="nav__right">
              <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
            </div>
          <% end %>
          <%# // ログインしていないときは上記を表示するようにしましょう %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <small>©2021 Batwin_suchen.</small>
    </footer>
  </body>
</html>
